*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Modelos de IA (Whisper y MedGemma)
*.gguf
*.tflite

# Carpetas de construcción nativa
.cxx/
build/
app/build/

# Archivos temporales de audio
*.wav